{% extends "layout.html" %} {% load static %} {% block title %} Signage
Dashboard {% endblock %} {% block content %}

<main>
  <section class="section hero-section">
    <div class="owl-carousel home-slider">
      <div class="item">
        <div class="home-slider-img">
          <img src="../static/img/Slider-imgs/Slider-img-1.jpg" alt="" />
        </div>
      </div>
      <div class="item">
        <div class="home-slider-img">
          <img src="../static/img/Slider-imgs/Slider-img-2.jpg" alt="" />
        </div>
      </div>
    </div>

    <!-- Custom navigation buttons (moved outside the .owl-carousel) -->
    <button class="home-prev home-nav-button">
      <i class="fa-solid fa-chevron-left"></i>
    </button>
    <button class="home-next home-nav-button">
      <i class="fa-solid fa-chevron-right"></i>
    </button>
  </section>

  <section class="section hero-banner-section">
    <div class="container">
      <div class="hero-banner-section-img">
        <img src="../static/img/Signage-idea-web-banners.png" alt="" />
      </div>
    </div>
  </section>

  <section class="section service-section">
    <div class="container">
      <div class="title-main-section">
        <div class="line"></div>
        <h2 class="section-title">
          we work with you through the <span> whole process</span>
        </h2>
      </div>

      <div class="Service-slider-section">
        <div class="owl-carousel service-slider">
          <div class="item">
            <div class="service-card">
              <div class="service-card-left">
                <span>1</span>
              </div>
              <div class="service-card-right">
                <h3 class="service-card-title">CLIENT MEETING</h3>
                <p class="service-card-text">
                  To understand what type of visual communications are needed,
                  the environment they will be placed in, and how long they will
                  be used to create the best solution.
                </p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="service-card">
              <div class="service-card-left">
                <span>2</span>
              </div>
              <div class="service-card-right">
                <h3 class="service-card-title">PRODUCT RECOMMENDATION</h3>
                <p class="service-card-text">
                  Our experts will recommend the products and types of materials
                  to use based on your needs.
                </p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="service-card">
              <div class="service-card-left">
                <span>3</span>
              </div>
              <div class="service-card-right">
                <h3 class="service-card-title">GATHER MATERIALS</h3>
                <p class="service-card-text">
                  Collect assets needed to complete the project.
                </p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="service-card">
              <div class="service-card-left">
                <span>4</span>
              </div>
              <div class="service-card-right">
                <h3 class="service-card-title">SURVEY</h3>
                <p class="service-card-text">
                  We may need to conduct a site visit and take digital
                  measurements and photos to ensure a perfect fit.
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- Custom navigation buttons (moved outside the .owl-carousel) -->
        <div class="service-button-section">
          <button class="service-prev service-nav-button">
            <i class="fa-solid fa-chevron-left"></i>
          </button>
          <button class="service-next service-nav-button">
            <i class="fa-solid fa-chevron-right"></i>
          </button>
        </div>
      </div>
    </div>
  </section>

  {% comment %} Clinet Section {% endcomment %}

  <section class="section clients-section">
    <div class="container">
      <div class="title-main-section">
        <div class="line"></div>
        <h2 class="section-title">Our Clients</h2>
      </div>

      <div class="Service-slider-section">
        <div class="owl-carousel client-slider">
          <div class="item">
            <div class="client-slider-img">
              <img src="../static/img/clinets-slider-img/about-1.jpg" alt="" />
            </div>
          </div>
          <div class="item">
            <div class="client-slider-img">
              <img src="../static/img/clinets-slider-img/about-1.jpg" alt="" />
            </div>
          </div>
          <div class="item">
            <div class="client-slider-img">
              <img src="../static/img/clinets-slider-img/about-1.jpg" alt="" />
            </div>
          </div>
          <div class="item">
            <div class="client-slider-img">
              <img src="../static/img/clinets-slider-img/about-1.jpg" alt="" />
            </div>
          </div>
        </div>

        <!-- Custom navigation buttons (moved outside the .owl-carousel) -->
        <div class="service-button-section">
          <button class="client-prev service-nav-button">
            <i class="fa-solid fa-chevron-left"></i>
          </button>
          <button class="client-next service-nav-button">
            <i class="fa-solid fa-chevron-right"></i>
          </button>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %} {% block footer %}{% endblock %}
